@charset "UTF-8";

@keyframes rotate360{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}

/* common - S */
html::-webkit-scrollbar{display:none;}
body{overflow-x:hidden;background-color:#282c49;}
body.sub.co.view{background-color:#fff;}
.sectionInner{display:block;width:100%;padding:0 calc(50% - 900px);}
.sub.co.view .sectionInner{padding:0;}
/* common - E */

/* tab menu - S */
/* tab menu common */
.tabWrap{display:block;width:100%;}
.tabWrap .tabMenu{display:block;position:relative;width:100%;font-size:0;line-height:0;}
.tabWrap .tabMenu .tabOpen{display:none;}
.tabWrap .tabMenu .tabList{display:block;width:100%;}
.tabWrap .tabMenu .tabList .tabItem{display:inline-block;position:relative;z-index:0;vertical-align:top;}
.tabWrap .tabMenu .tabList .tabItem.active{z-index:1;pointer-events:none;}
.tabWrap .tabMenu .tabList .tabItem .btn{display:block;width:100%;height:100%;text-align:center;box-sizing:border-box;}
.tabWrap .tabMenu .tabList .tabItem .btn span{display:block;width:100%;}
.tabWrap .tabMenu .tabList .tabItem a.btn span{position:relative;top:50%;transform:translateY(-50%);}
.tabWrap .tabMenu .tabList .tabItem .btn span em{display:inline;}
.tabWrap .tabContents{display:block;width:100%;}
.tabWrap .tabContents .contentItem{display:none;width:100%;}
.tabWrap .tabContents .contentItem.active{display:block;}
/* effect fade */
.tabWrap .tabMenu.effectFade + .tabContents{position:relative;}
.tabWrap .tabMenu.effectFade + .tabContents > .contentItem{opacity:0;visibility:hidden;transition:opacity,visibility;transition-duration:0.3s;}
.tabWrap .tabMenu.effectFade + .tabContents > .contentItem.active{display:block;position:absolute;left:0;top:0;}
.tabWrap .tabMenu.effectFade + .tabContents > .contentItem.on{opacity:1;visibility:visible;}
.tabWrap .tabMenu.effectFade + .tabContents > .contentItem.active.on{position:static;}
/* tab menu - E */

/* slick common - S */
.slick-slider{position:relative;display:block;box-sizing:border-box;}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0;}
.slick-list:focus{outline:none;}
.slick-list.dragging{cursor:pointer;}
.slick-track{ position:relative;top:0;left:0;display:block;}
.slick-track:before,.slick-track:after{display:table;content:'';}
.slick-track:after{clear:both;}
.slick-loading .slick-track{visibility:hidden;}
.slick-slide{display:none;float:left;height:100%;min-height:1px;}
[dir='rtl'] .slick-slide{float:right;}
.slick-slide img{display:block;width:100%;}
.slick-slide.slick-loading img{display:none;}
.slick-initialized .slick-slide{display:block;}
.slick-loading .slick-slide{visibility:hidden;}
.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent;}
#scrollbar{display:block;visibility:hidden;overflow-x:scroll;overflow-y:scroll;position:absolute;top:-100px;left:-100px;z-index:-1;width:100px;height:100px;}
/* slick common - E */

/* header - S */
#header{display:block;position:fixed;left:0;top:0;z-index:100;width:100%;transition-property:opacity,top;transition-duration:0.5s;}
.wheelDown #header{top:-70px;}
.headerWrap{display:block;position:relative;bottom:0;width:100%;height:70px;padding:0 calc(50% - 900px);background-color:rgba(0, 0, 0, 0.4);font-size:0;line-height:0;}
.headerWrap:after{display:block;width:100%;height:0;clear:both;content:'';}
.headerWrap .headerLeft{display:block;float:left;height:100%;}
.headerWrap .headerLeft .logo{display:inline-block;position:relative;top:50%;vertical-align:top;transform:translateY(-50%);}
.headerWrap .headerLeft .logo .link{display:block;position:relative;}
.headerWrap .headerLeft .logo .link .logoImg{display:inline-block;width:60px;height:60px;background-image:url(../img/common/logo.png);background-size:contain;background-position:center center;background-repeat:no-repeat;vertical-align:top;}
.headerWrap .headerLeft .logo .link .logoText{display:inline-block;margin-left:5px;padding:12px 0;text-align:left;vertical-align:top;}
.headerWrap .headerLeft .logo .link .logoText em{display:block;line-height:18px;color:#fff;font-family:'esa','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing:-0.02em;}
.headerWrap .headerLeft .logo .link .logoText em.logoTitle{font-weight:500;font-size:20px;}
.headerWrap .headerLeft .logo .link .logoText em.logoDesc{font-weight:400;font-size:17px;}
.headerWrap .headerLeft .gnb{display:inline-block;height:100%;margin-left:30px;vertical-align:top;}
.headerWrap .headerLeft .gnb .gnbList{display:block;height:100%;}
.headerWrap .headerLeft .gnb .gnbList .gnbItem{display:inline-block;height:100%;vertical-align:top;}
.headerWrap .headerLeft .gnb .gnbList .gnbItem .link{display:block;position:relative;height:100%;padding:0 20px;}
.headerWrap .headerLeft .gnb .gnbList .gnbItem .link:before{display:block;position:absolute;right:15px;bottom:calc(50% - 12px);width:0;height:8px;border-radius:4px;transition:width 0.3s;}
.headerWrap .headerLeft .gnb .gnbList .gnbItem .link:hover:before{right:auto;left:15px;width:calc(100% - 30px);}
.headerWrap .headerLeft .gnb .gnbList .gnbItem:nth-child(1) .link:before{background-color:rgba(255, 153, 0, 0.8);}
.headerWrap .headerLeft .gnb .gnbList .gnbItem:nth-child(2) .link:before{background-color:rgba(0, 153, 255, 0.8);}
.headerWrap .headerLeft .gnb .gnbList .gnbItem:nth-child(3) .link:before{background-color:rgba(255, 0, 153, 0.8);}
.headerWrap .headerLeft .gnb .gnbList .gnbItem .link span{display:block;position:relative;top:50%;font-weight:600;font-size:20px;line-height:24px;color:rgba(255, 255, 255, 0.5);font-family:'own','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing:0.05em;transform:translateY(-50%);transition:color 0.3s;}
.headerWrap .headerLeft .gnb .gnbList .gnbItem .link:hover span{color:#fff;}
.headerWrap .headerRight{display:block;float:right;height:100%;}
.headerWrap .headerRight .themeBox{display:block;position:relative;top:50%;transform:translateY(-50%);}
.headerWrap .headerRight .themeBox .themeOpen{display:block;position:relative;z-index:1;width:40px;height:40px;}
.headerWrap .headerRight .themeBox .themeOpen .fakeImg{display:block;width:100%;height:100%;background-image:url(../img/common/themeIcon.png);background-size:contain;background-position:center center;background-repeat:no-repeat;}
.headerWrap .headerRight .themeBox .themeList{display:block;position:absolute;right:0;top:0;width:400%;height:400%;transform:rotate(135deg);transform-origin:right top;transition:transform 0.5s;}
.headerWrap .headerRight .themeBox.active .themeList{transform:rotate(0deg);}
.wheelDown .headerWrap .headerRight .themeBox.active .themeList{transform:rotate(135deg);}
.headerWrap .headerRight .themeBox .themeList .themeItem{display:block;position:absolute;width:30%;height:30%;transition-property:opacity,visibility;transition-duration:0.3s;}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(1){left:0;top:0;}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(2){left:13%;top:32%;}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(3){left:37%;top:58%;}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(4){right:0;bottom:0;}
.headerWrap .headerRight .themeBox .themeList .themeItem.egg{opacity:0;visibility:hidden;left:37%;top:5%;}
.themeEgg .headerWrap .headerRight .themeBox .themeList .themeItem.egg{opacity:1;visibility:visible;}
.headerWrap .headerRight .themeBox .themeList .themeItem .btn{display:block;overflow:hidden;width:100%;height:100%;border-radius:100%;}
.headerWrap .headerRight .themeBox .themeList .themeItem .btn .icon{display:block;width:100%;height:100%;background-color:#f09;}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(1) .btn .icon{}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(2) .btn .icon{}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(3) .btn .icon{}
.headerWrap .headerRight .themeBox .themeList .themeItem:nth-child(4) .btn .icon{}
/* header - E */

/* footer - S */
#footer{display:block;width:100%;}
.footerWrap{display:block;width:100%;padding:70px calc(50% - 700px) 150px;background-color:rgba(0, 0, 0, 0.4);}
.footerWrap .memPromo{display:block;width:100%;border-radius:20px;background-color:rgba(255, 255, 255, 0.4);}
.footerWrap .memPromo .tabWrap{display:block;width:100%;font-size:0;line-height:0;text-align:center;}
.footerWrap .memPromo .tabWrap .tabMenu{display:block;position:relative;top:-35px;width:100%;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList{display:block;width:100%;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem{display:inline-block;vertical-align:top;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem + .tabItem{margin-left:20px;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem .btn{display:block;overflow:hidden;position:relative;width:70px;height:70px;margin:0;padding:3px;border-radius:100%;transform:scale(1);transition:margin 0.3s,transform 0.3s;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem .btn:hover{margin:0 5px;transform:scale(1.1);}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem .btn:before{display:block;opacity:0;position:absolute;width:300%;height:300%;content:'';animation:rotate360 linear infinite;transition:opacity 0.3s;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem:nth-child(1) .btn:before{left:-50%;top:-50%;background-image:linear-gradient(#272abb 20%,#09f 30%,#4d279d 40%, #e03c94);animation-duration:15s;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem:nth-child(2) .btn:before{right:-50%;top:-50%;background-image:linear-gradient(#de216f 40%, #ffd137 50%, #5626b2 60%, #1459c2);animation-duration:19s;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem:nth-child(3) .btn:before{left:-50%;bottom:-50%;background-image:linear-gradient(#194096 30%, #33ffcf 40%, #461fa6 50%, #bb35a2);animation-duration:13s;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem.active .btn:before,
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem .btn:hover:before{opacity:1;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem .btn:after{display:block;opacity:0.6;position:absolute;left:0;top:0;width:100%;height:100%;background-color:#fff;content:'';transition:opacity 0.3s;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem.active .btn:after,
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem .btn:hover:after{opacity:0;}
.footerWrap .memPromo .tabWrap .tabMenu .tabList .tabItem .btn .icon{display:block;position:relative;z-index:1;width:100%;height:100%;border-radius:100%;background-size:cover;background-position:center center;background-repeat:no-repeat;}
.footerWrap .memPromo .tabWrap .tabContents{display:block;width:100%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem{width:100%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner{display:block;width:100%;padding:10px 30px 80px;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .profileBox{display:inline-block;overflow:hidden;width:300px;height:400px;margin-right:30px;margin-left:20%;border-radius:15px;vertical-align:top;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .profileBox .fakeImg{display:block;width:100%;height:100%;background-size:cover;background-position:center center;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox{display:inline-block;width:calc(80% - 330px);text-align:left;vertical-align:top;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .name{display:block;margin-bottom:15px;font-weight:500;font-size:34px;line-height:40px;color:#333;font-family:'pop','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing:-0.03em;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .infoBox{display:block;margin-bottom:5px;font-size:22px;line-height:26px;font-family:'esa','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;letter-spacing:-0.03em;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .infoBox .title{display:inline-block;font-weight:500;color:#444;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .infoBox .text{display:inline-block;font-weight:400;color:#555;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox{display:block;margin-top:15px;margin-bottom:30px;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox{display:inline-block;vertical-align:top;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox + .btnBox{margin-left:15px;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link{display:block;width:50px;height:50px;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon{display:block;border-radius:10px;width:100%;height:100%;background-image:url(../img/common/snsIconSprite.png);background-size:100%;transform:scale(1);transition:transform 0.3s;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link:hover .icon{transform:scale(1.2);}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.instagram{background-position-y:0;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.youtube{background-position-y:-100%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.twitter{background-position-y:-200%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.kakaoTalk{background-position-y:-300%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.naver{background-position-y:-400%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.naverBand{background-position-y:-500%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.naverBlog{background-position-y:-600%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .snsBox .btnBox .link .icon.pinterest{background-position-y:-700%;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .descBox{display:block;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .descBox p{display:block;font-weight:400;font-size:30px;line-height:30px;color:#555;font-family:'pen','Malgun Gothic','맑은 고딕',Dotum,'돋움',Helvetica,AppleSDGothicNeo,sans-serif;}
.footerWrap .memPromo .tabWrap .tabContents .contentItem .promoInner .textBox .descBox p + p{margin-top:20px;}
/* footer - E */

/* theme change - S */
.theme1 .themeBlock0,.theme2 .themeBlock0,.theme3 .themeBlock0,.theme4 .themeBlock0,.theme5 .themeBlock0,
.theme1 .themeInBlock0,.theme2 .themeInBlock0,.theme3 .themeInBlock0,.theme4 .themeInBlock0,.theme5 .themeInBlock0,
.theme1 .themeInline0,.theme2 .themeInline0,.theme3 .themeInline0,.theme4 .themeInline0,.theme5 .themeInline0,
.themeBlock1,.themeBlock2,.themeBlock3,.themeBlock4,.themeBlock5,
.themeInBlock1,.themeInBlock2,.themeInBlock3,.themeInBlock4,.themeInBlock5,
.themeInline1,.themeInline2,.themeInline3,.themeInline4,.themeInline5{display:none !important;}
.themeBlockAll,.themeBlock0,.theme0 .themeBlock0,.theme1 .themeBlock1,.theme2 .themeBlock2,.theme3 .themeBlock3,.theme4 .themeBlock4,.theme5 .themeBlock5{display:block !important;}
.themeInBlockAll,.themeInBlock0,.theme0 .themeInBlock0,.theme1 .themeInBlock1,.theme2 .themeInBlock2,.theme3 .themeInBlock3,.theme4 .themeInBlock4,.theme5 .themeInBlock5{display:inline-block !important;}
.themeInlineAll,.themeInline0,.theme0 .themeInline0,.theme1 .themeInline1,.theme2 .themeInline2,.theme3 .themeInline3,.theme4 .themeInline4,.theme5 .themeInline5{display:inline !important;}
body{transition:background-color 0.5s;}
#main{opacity:1;transition:opacity 0.5s 0.5s;}
.footerWrap .memPromo{opacity:1;transition:opacity 0.5s;}
.changeOn #header{opacity:0;top:-70px;}
.changeOn #main{opacity:0;}
.changeOn .footerWrap .memPromo{opacity:0;}
body{background-color:#282c49;}
.theme1 body{background-color:#5d81b9;}
.theme2 body{background-color:#d0a961;}
.theme3 body{background-color:#372083;}
.theme4 body{background-color:#0e1a38;}
/* theme change - E */